body{
    background: silver;
}
p{
    font-size: 25px;
    font-family: 'Arial ';
    color: red;
}
h2{
    font-size: 30px;
    color: Gold;
}

p.formato{
    color: green;
    font-size: 29px;
    font-family: 'Courier New'

}

.centro{
    text-align: center;
}

h3,h4{
    color: purple;
    font-size: 33px;
    font-family: Cambria;
}